node_modules
npm-debug.log*
coverage
test
.git
.gitignore
.env
.env.*
env.example
README.md
docs
tools
scripts
.vscode
.idea
.DS_Store
*.log
logs
.nyc_output
.eslintcache
nodemon.json
yarn-debug.log*
yarn-error.log*
*.swp
*.swo
*~
.editorconfig
apps
infrastructure
src-nestjs/.next
src-nestjs/coverage
