DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=1433
DB_USER=maxnoah
DB_PASS=12341234
DB_NAME=flight_booking_db_v2
DB_ENCRYPT=false              # Azure thì true
DB_TRUST_CERT=true            # local dev hay dùng true

JWT_ACCESS_SECRET=c769850ee4f001088ba440c3211390099dbb7f9e2e0593be9233e395dce6e931
JWT_ACCESS_EXPIRES='15m'
JWT_REFRESH_SECRET=1bbf355aefde63bd595ec266351544354991b215124ed1b88ab7c8ef92f876d8
JWT_REFRESH_EXPIRES=7d
SEARCH_MS_HOST=127.0.0.1
SEARCH_MS_PORT=4001