DB_TYPE=mssql
DB_HOST=localhost
DB_PORT=1433
DB_USER=maxnoah
DB_PASS=12341234
DB_NAME=flight_booking_db
DB_ENCRYPT=false              # Azure thì true
DB_TRUST_CERT=true            # local dev hay dùng true

JWT_ACCESS_SECRET='phamhoangson'
JWT_ACCESS_EXPIRES='15m'