PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASS=password
DB_NAME=flight_booking_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
RESERVATION_TTL=900
PAYMENT_TTL=900

# JWT
JWT_ACCESS_SECRET=c769850ee4f001088ba440c3211390099dbb7f9e2e0593be9233e395dce6e931
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=1bbf355aefde63bd595ec266351544354991b215124ed1b88ab7c8ef92f876d8
JWT_REFRESH_EXPIRES=7d

# Payment
PAYMENT_EXPIRATION_MINUTES=15

# Microservices
MS_TIMEOUT=5000
MS_RETRIES=3

# Rate Limiting
RATE_LIMIT_TTL=60
RATE_LIMIT_MAX=100

# Circuit Breaker
CIRCUIT_BREAKER_TIMEOUT=3000
CIRCUIT_BREAKER_ERROR_THRESHOLD=50
CIRCUIT_BREAKER_RESET_TIMEOUT=30000